/* add your CSS here */

#card { 
    font-family: "Times New Roman", Times, serif;
    margin: 15px;
    padding: 15px;
    border: 1px solid lightgrey;
    width: 500px;
    box-shadow: 5px 5px 0px 0px lightgrey;
}
   
h3{
     font-size: 26px;
} 

img {
    width: 500px;
    padding-bottom: 15px;
}

.card-summary {
    padding: 15px;
    border: 1px solid lightgrey;
    font-size: 18px;
}

.description {
    font-style: italic;
    margin: 0;
}

.list-header{
    font-weight: bold;
}
.details{
    margin-top: 15px;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}